server {
    listen 80 default_server;
    listen [::]:80 default_server ipv6only=on;
    root /usr/share/nginx/html;
    index index.html index.htm;
    server_name {{server_name}};
    location / {
        try_files $uri $uri/ =404;
    }
}